{% extends 'base.html' %} {% block content %}

<div class="container">
<h1>{% block title %} {{ post.title}} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.published_date }}</p>
        <p>{{ post.text|safe}}</p>
        <hr style="border: 1px solid black" />
      </div>
      
<div class="container">
    {% if related %}
  <h3>You may also like:</h2>
      {% for object in related %}
      <div class="card mb-4">
          <div class="card-body">
              <h2 class="card-title">{{ object.title }}</h2>
              <p class="card-text text-muted h6">{{ object.author }} | {{ object.published_date}} </p>
              <p class = "card-text">{{ object.text|striptags|slice:"20" }}&hellip;</p>
              <a href="{% url 'post_detail' pk=object.pk  %}" class="btn btn-primary">Read More &raquo;</a>
             
          </div>
      </div>
      {% endfor %}
      {% endif %}
</div>

{% endblock content %}